#framework da api
fastapi
#servidor que roda a aplicação (usado com "uvicorn app.main:app --reload")
uvicorn[standard]
#mapeia as classes Consultor e Atendimento para o sqlite
sqlalchemy
#migrações do schema do banco (equivalente ao flyway)
alembic
#gera e valida o hash das senhas
bcrypt
#cria e valaida os tokens jwt
PyJWT